epoch: 1

LearningRate:
  base_lr: 0.00005     # 0.0002
  schedulers:
  - !PiecewiseDecay
    gamma: 0.1
    milestones: [40]
    use_warmup: false

OptimizerBuilder:
  clip_grad_by_norm: 0.1
  regularizer: false
  optimizer:
    type: AdamW
    weight_decay: 0.0001
