epoch: 120

LearningRate:
  base_lr: 0.001
  schedulers:
  - !PiecewiseDecay
    milestones: [40, 60, 80, 100]
    values: [0.001, 0.0005, 0.00025, 0.0001, 0.00001]
    use_warmup: false

OptimizerBuilder:
  optimizer:
    momentum: 0.0
    type: RMSProp
  regularizer:
    factor: 0.00005
    type: L2
