worker_num: 2
TrainReader:
  sample_transforms:
  - Decode: {}
  - Cutmix: {alpha: 1.5, beta: 1.5}
  - RandomDistort: {random_apply: false, random_channel: true}
  - RandomExpand: {fill_value: [123.675, 116.28, 103.53]}
  - RandomCrop: {aspect_ratio: NULL, cover_all_box: True}
  - RandomFlip: {prob: 0.5}
  batch_transforms:
  - BatchRandomResize: {target_size: [416, 448, 480, 512, 544, 576, 608, 640, 672], keep_ratio: false}
  - NormalizeImage: {mean: [123.675, 116.28, 103.53], std: [58.395, 57.12, 57.375], is_scale: false}
  - Permute: {}
  - Gt2TTFTarget: {down_ratio: 4}
  - PadBatch: {pad_to_stride: 32}
  batch_size: 18
  shuffle: true
  drop_last: true
  use_shared_memory: true
  mixup_epoch: 100

EvalReader:
  sample_transforms:
  - Decode: {}
  - Resize: {interp: 1, target_size: [512, 512], keep_ratio: False}
  - NormalizeImage: {is_scale: false, mean: [123.675, 116.28, 103.53], std: [58.395, 57.12, 57.375]}
  - Permute: {}
  batch_size: 1
  drop_last: false
  drop_empty: false

TestReader:
  sample_transforms:
  - Decode: {}
  - Resize: {interp: 1, target_size: [512, 512], keep_ratio: False}
  - NormalizeImage: {is_scale: false, mean: [123.675, 116.28, 103.53], std: [58.395, 57.12, 57.375]}
  - Permute: {}
  batch_size: 1
  drop_last: false
  drop_empty: false
